body {
    font-family: monospace;
}
header {
    background-color: #f67b97;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-style: monospace;
    
    
}
main {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.input section {
    display: flex;
    flex-direction: column;
    font-size: monospace;
    
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    
}

input {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #f67b97;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: blueviolet;
}

button {
    background-color: #f67b97;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: #f67b97;
    color: white;
}

button:hover {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: white;
}